<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587505974347-vk8hd7uc39lv0pgpe1cumhp30vmb073u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587505974347-vk8hd7uc39lv0pgpe1cumhp30vmb073u</string>
	<key>API_KEY</key>
	<string>AIzaSyDH-CNc6gmasUUnIgbThp1Sd3PHWskjdZE</string>
	<key>GCM_SENDER_ID</key>
	<string>587505974347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thesolarshop</string>
	<key>PROJECT_ID</key>
	<string>ta-solar</string>
	<key>STORAGE_BUCKET</key>
	<string>ta-solar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587505974347:ios:b49197496d72de8cb721ce</string>
</dict>
</plist>