<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587505974347-dp43t131q1ccva20d2blg5ngq3ut7iq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587505974347-dp43t131q1ccva20d2blg5ngq3ut7iq0</string>
	<key>API_KEY</key>
	<string>AIzaSyDH-CNc6gmasUUnIgbThp1Sd3PHWskjdZE</string>
	<key>GCM_SENDER_ID</key>
	<string>587505974347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thesolarshop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ta-solar</string>
	<key>STORAGE_BUCKET</key>
	<string>ta-solar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587505974347:ios:2776dd4457145416b721ce</string>
</dict>
</plist>